.page {
  height: 100%;
  scroll-behavior: smooth;
  scroll-padding-top: $dsk-header-height;

  &--with-modal {
    overflow: hidden;
  }
}

.page__body {
  position: relative;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: "PT Mono", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 135%;
  color: $white-basic;
  background-color: $white-backgound;

  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  justify-content: flex-start;
}

.page__body ul {
  list-style: none;
  margin-left: 0;
}

.page__body img {
  max-width: 100%;
  height: auto;
  display: block;
}

.page__body *::before,
.page__body *::after {
  display: block;
  box-sizing: border-box;
}
