.page-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  min-height: $dsk-header-height;
  max-height: $dsk-header-offset;
  background-image: $header-gradient;
  overflow: auto;

  @media (max-width: $tbl-breakpoint) {
    position: absolute;
    min-height: $tbl-header-height;
    max-height: $tbl-header-offset;
  }

  @media (max-width: $mbl-breakpoint) {
    min-height: $mbl-header-height;
    max-height: $mbl-header-offset;
  }
}

.page-header__wrapper {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: $dsk-wrapper-width;
  margin: 0 auto;
  padding: 30px 0 30px;

  @media (max-width: $tbl-breakpoint) {
    padding: 20px 0 20px;
  }

  @media (max-width: $mbl-breakpoint) {
    padding: 15px 0 15px;
  }

  &::before {
    content: "";
    height: 1px;
    width: 160px;
    order: 2;
    background-color: transparent;
    flex-shrink: 2;

    @media (max-width: $tbl-breakpoint) {
      display: none;
    }
  }

  &::after {
    content: "";
    height: 1px;
    width: 145px;
    order: 4;
    background-color: transparent;
    flex-shrink: 2;

    @media (max-width: $tbl-breakpoint) {
      width: 30px;
    }

    @media (max-width: $mbl-breakpoint) {
      width: 20px;
    }
  }
}

.page-header__logo {
  padding: 0;
  order: 1;

  @media (max-width: $tbl-breakpoint) {
    margin-right: auto;
  }

  @media (max-width: $mbl-breakpoint) {
    display: block;
    padding-left: 1px;
  }

  &::after {
    @media (max-width: $mbl-breakpoint) {
      display: none;
    }
  }
}

.page-header__logo-image {
  @media (max-width: $mbl-breakpoint) {
    height: 35px;
    width: 35px;
  }
}

.page-header__contacts {
  display: grid;
  flex-shrink: 0;
  grid-template-columns: repeat(2, auto);
  column-gap: 101px;
  row-gap: 10px;
  box-sizing: border-box;
  align-items: start;
  padding: 0;
  margin: 5px 0 0;
  order: 3;

  @media (max-width: $tbl-breakpoint) {
    grid-template-columns: repeat(auto-fit, 20px);
    column-gap: 40px;
    margin: 0;
    max-width: 80%;
  }

  @media (max-width: $mbl-breakpoint) {
    margin-top: -5px;
    max-width: 80%;
  }
}

.page-header__contact {
  @media (max-width: $tbl-breakpoint) {
    width: 20px;
    height: 20px;
  }
}

.page-header__contact-link {
  display: block;
  box-sizing: border-box;
  position: relative;
  text-decoration: none;
  color: $white-basic;
  font-size: 16px;
  line-height: 100%;
  padding: 11px 20px 9px 35px;

  @media (max-width: $tbl-breakpoint) {
    font-size: 0;
    padding: 10px 0 10px 20px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 21px;
    height: 21px;
    background-repeat: no-repeat;
    background-size: contain;
    left: 0;
    top: 10px;
  }

  &--email::before {
    background-image: url("../img/svg/mail-icon.svg");
  }

  &--phone::before {
    background-image: url("../img/svg/phone-icon.svg");
  }
}

.page-header__button {
  order: 5;
  font-family: $roboto-c;
  box-sizing: border-box;
  display: block;
  flex-shrink: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 100%;
  max-width: 170px;
  text-transform: uppercase;
  text-decoration: none;
  color: $white-basic;
  border: 1px solid $white-basic;
  padding: 10px 14px 14px;
  margin-top: 5px;
  border-radius: 3px;
  text-align: center;
  letter-spacing: 1px;
  user-select: none;
  cursor: pointer;

  @media (max-width: $tbl-breakpoint) {
    display: none;
  }
}
