.site-logo {
  display: flex;
  box-sizing: border-box;
  text-decoration: none;
  color: $white-basic;
  flex-shrink: 0;
  justify-content: start;
  align-content: start;
  cursor: unset;
  pointer-events: none;

  &::after {
    content: "";
    width: 145px;
    height: 45px;
    background-image: url("../img/svg/logo-text.svg");
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 5px;
  }
}

.site-logo__image {
  grid-row: 1 / 4;
  display: block;
  margin-right: 15px;
}
