$roboto-c: "Roboto COndensed", "Arial", sans-serif;

$white-basic: #f2f5f6;
$white-basic-opacity-70: #f2f5f6b3;
$white-backgound: #f8fdff;
$white: #ffffff;
$gray-footer-border: #f8fdffb3;
$gray-border: #ebebeb;
$blue-basic: #00b2ff;
$blue-feedback: #00b3ff;
$blue-section: #041827;
$blue-input: #04182726;
$blue-background: #34597e;
$modal-background: #03101bb3;

$feedback-angle: 100 / 3;

$header-gradient: linear-gradient(to bottom, #041827 85%, transparent);
$feedback-gradient: linear-gradient(139.15deg, #026693 33.6%, #00b3ff 33.6%);

$dsk-header-height: 120px;
$tbl-header-height: 100px;
$mbl-header-height: 70px;

$dsk-promo-height: 880px;
$tbl-promo-height: 640px;
$mbl-promo-height: 560px;

$dsk-header-offset: 312px;
$tbl-header-offset: 186px;
$mbl-header-offset: 150px;

$header-break-width: 1300px;

$dsk-container-padding: 50px;
$mbl-container-padding: 25px;

$dsk-wrapper-width: 1220px;

$mbl-breakpoint: 769px;
$tbl-breakpoint: 1023px;
